<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>Kota Yanagidani Portfolio</title>

    <link href="{% static 'css/reset.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">home</a></li>
                <li><a href="{% url 'garrely' %}">photography</a></li>
                <li><a href="{% url 'blog' %}">blog</a></li>
                <li><a href="{% url 'contact' %}">contact</a></li>
            </ul>
        </nav>
    </header>

    <main>

    {% block content %}
    {% endblock %}

    </main>

    <footer>
        <div><p>©Kota Yanagidani All Rights Reserved {% now "Y" %}</p></div>
    </footer>

</body>
</html>